# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DSA\Lab4-DSA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
